In [15]:
import pandas as pd
data_load_path='data_with_id/'
split_path='Train_Test_Split/'
model_and_scaler='model_and_scaler/'
ML_results='ML_results/'
pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)

In [16]:
data=pd.read_csv(data_load_path+'data_with_id.csv',index_col=0)
data_copy=data.copy()

In [17]:
train_res=pd.read_csv(ML_results+'train_pred.csv',index_col=0)
test_res=pd.read_csv(ML_results+'test_pred.csv',index_col=0)

In [18]:
print(train_res.shape,test_res.shape)

(31647, 53) (13564, 53)

In [19]:
scaler=pd.read_pickle(model_and_scaler+'scaler.pickle')
model=pd.read_pickle(model_and_scaler+'RF_model.pickle')

In [20]:
def preproc(data):
    obj_cols_list=[]
    for col in data.columns:
        if (data[col].dtypes == object):
            obj_cols_list.append(col)
    print(obj_cols_list) 
    data = pd.get_dummies(data, columns = obj_cols_list)
    data = scaler.transform(data)
    return data

In [21]:
data_copy=preproc(data_copy)

['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']

In [26]:
predicted=model.predict(data_copy)
data['predicted_score']=predicted

In [27]:
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,id,predicted_score
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,1,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,2,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,3,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,4,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45206,51,technician,married,tertiary,no,825,no,no,cellular,17,nov,977,3,-1,0,unknown,45206,yes
45207,71,retired,divorced,primary,no,1729,no,no,cellular,17,nov,456,2,-1,0,unknown,45207,yes
45208,72,retired,married,secondary,no,5715,no,no,cellular,17,nov,1127,5,184,3,success,45208,yes
45209,57,blue-collar,married,secondary,no,668,no,no,telephone,17,nov,508,4,-1,0,unknown,45209,no
45210,37,entrepreneur,married,secondary,no,2971,no,no,cellular,17,nov,361,2,188,11,other,45210,no

In [32]:
def pred_match(data_check,org_pred_tr,org_pred_test):
    train_merg=pd.merge(data_check,org_pred_tr,on=['id'])
    test_merg=pd.merge(data_check,org_pred_test,on=['id'])
    return train_merg,test_merg

In [33]:
match=pred_match(data,train_res,test_res)

In [40]:
tr_ch=match[0]
tr_ch=tr_ch[['predicted','predicted_score']]
tr_ch['compare']=tr_ch['predicted'].equals(tr_ch['predicted_score'])
tr_ch

<ipython-input-40-6f596781eb49>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tr_ch['compare']=tr_ch['predicted'].equals(tr_ch['predicted_score'])

      predicted predicted_score  compare
0            no              no     True
1            no              no     True
2            no              no     True
3            no              no     True
4            no              no     True
...         ...             ...      ...
31642       yes             yes     True
31643       yes             yes     True
31644       yes             yes     True
31645        no              no     True
31646        no              no     True

[31647 rows x 3 columns]

In [41]:
tr_ch['compare'].value_counts()

True    31647
Name: compare, dtype: int64

In [42]:
ts_ch=match[1]
ts_ch=ts_ch[['predicted','predicted_score']]
ts_ch['compare']=ts_ch['predicted'].equals(ts_ch['predicted_score'])
ts_ch

<ipython-input-42-c263eafd2b06>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ts_ch['compare']=ts_ch['predicted'].equals(ts_ch['predicted_score'])

      predicted predicted_score  compare
0            no              no     True
1            no              no     True
2            no              no     True
3            no              no     True
4            no              no     True
...         ...             ...      ...
13559       yes             yes     True
13560       yes             yes     True
13561        no              no     True
13562        no              no     True
13563       yes             yes     True

[13564 rows x 3 columns]

In [43]:
tr_ch['compare'].value_counts()

True    31647
Name: compare, dtype: int64